body div section {
	padding: 50px 0;
}

#slide-show{
	padding : 0;
}
.button{
    margin: 20px 0;
}
header #logo img {
	max-width: 220px;
	max-height: 80px;
}
.contactInfo{
padding-left: 10px;
}
#portfolio .modal .modal-body img {
	width: 100%;
	max-height: 500px;
}
